.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer-container {
    width: 400px;
    height: 300px;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-container {
    height: 380px;
}
.title {
    margin-left: 82px;
    width: 272px;
    height: 32px;
}
.title p {
    font-size: 32px;
    color: #299d91;
    margin: 0;
}
.input-container {
    margin-top: 26px;
    height: 300px;
}
.form-container {
    height: 300px;
}
.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.text-container h2 {
    margin: 1rem 0rem;
}
.text-container p {
    text-align: center;
    font-size: 12px;
    color: #696969;
}
.form-control {
    height: 90px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    height: 80px;
}

.form-group label {
    width: 342px;
    height: 24px;
    font-size: 16px;
    color: #191d23;
    padding-left: 2px;
    padding-bottom: 3px;
}
.form-group input {
    height: 48px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    padding-left: 16px;
}
.form-group.error small {
    font-size: 10px;
}
.form-actions {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-actions div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.form-actions p span {
    color: #299d91;
    cursor: pointer;
}

.form-actions button {
    height: 48px;
    width: 400px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    border: 1px solid transparent;
    background: #299d91;
    color: white;
    cursor: pointer;
}
.form-actions button:hover {
    background-color: #248179;
}
.toggle-links {
    height: 24px;
}
.toggle-links span {
    color: #299d91;
    cursor: pointer;
}
.toggle-links span:hover {
    text-decoration: underline;
}
.form-group.error input {
    border: 1px solid red;
    background-color: #ffe6e6;
}
.form-actions.error button {
    cursor: not-allowed;
}
.form-actions.error button:hover {
    color: #299d91;
}
